<%- include('partials/header') -%>
<div class="container mx-auto relative md:max-w-4xl">

  <h1 class="text-center text-primary text-2xl md:text-4xl">Hey <strong><%= user.userName %></strong>, ready to make coffee and get paid?</h1>

  <!-- Search area -->

  <!-- Active shifts display section -->
  <h2 class="text-center text-secondary text-2xl font-bold pt-8 pb-3">Active needs</h2>
  <section class="overflow-x-auto">
    <table class="table table-compact w-full">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Location</th>
          <th scope="col">time</th>
          <th scope="col">Wage</th>
          <th scope="col">action</th>
        </tr>
      </thead>

      <% for(let i = 0; i < shift.length; i++) { %>       

          <tr data-id="<%= shift[i]._id %>">
            <th scope="row" class="text-sm">
              <%= new Date(shift[i].date).toDateString() %>
            </th>

            <!-- Show clickable cafe name -->
            <td>
              <% let cafeInfo = cafe.filter(coffeeShop => coffeeShop.userName == shift[i].cafeUserName )[0] %>

              <label for="<%= `${i}-${shift[i].cafeUserName}` %>" class="btn btn-secondary btn-sm md:btn-md"><%= shift[i].cafeName %></label>
              
              <!-- Popup box to display cafe info -->              
              <input type="checkbox" id="<%= `${i}-${shift[i].cafeUserName}` %>" class="modal-toggle" />
              <div class="modal">
                <div class="modal-box">
                  <h2 class="text-xl font-bold"><%= cafeInfo.cafeName %></h2>
                  <% if(cafeInfo.more){ %>
                    <span class="inline-block py-4">About us: <%= cafeInfo.more %></span>
                  <% } %>
                  <div class="py-6">
                  <% if(shift[i].location) { %>
                    <a class="btn btn-secondary btn-outline px-2" href="https://www.google.com/maps/place/?q=place_id:<%= shift[i].location.place_id %>" target="_blank">
                      <i class="fa-regular fa-map fa-2xl"></i>
                    </a>
                  <% } %>
                  <% if (cafeInfo.ig) { %>
                    <a class="btn btn-secondary btn-outline px-2" href="https://www.instagram.com/<%= cafeInfo.ig %>" target="_blank">
                      <i class="fa fa-brands fa-instagram fa-2xl"></i>
                    </a>
                  </div>
                  <% } %>
                  <div class="modal-action">
                    <label for="<%= `${i}-${shift[i].cafeUserName}` %>" class="btn">Close</label>
                  </div>
                </div>
              </div>
            </td>
            <td><%= `${shift[i].start_time} - ${shift[i].end_time}` %></td>
            <td><%= shift[i].wage %>$/h <%= shift[i].tips ? '+tips' : `(no tips)` %></td>
            <td>
              <% if (shift[i].availability.includes(user.userName)) { %>
                  <button type="button" class="not-available btn btn-secondary tooltip" data-tip="not available">
                    <i class="fa-regular fa-circle-xmark"></i>
                  </button>
              <% } else { %>
                  <button type="button" class="available btn btn-secondary tooltip" data-tip="I'm available">
                    <i class="fa-regular fa-hand fa-bounce"></i>
                  </button>
              <% } %>
            </td>
          </tr>
        <% } %>

      <% if (shift.length == 0 ) { %>
          <tr>
            <th colspan="5" class="text-center">There is no active shift</th>
          </tr>        
      <% } %>           
    </table>
  </section>
</div>
<%- include('partials/footer') -%>