<%- include('partials/header') -%>
<div class="container mx-auto relative md:max-w-4xl">

  <h1 class="text-center text-primary text-2xl md:text-4xl">Hey <strong><%= user.userName %></strong>, ready to make coffee and get paid?</h1>

  <!-- Search area -->

  <!-- Active shifts display section -->
  <h2 class="text-center text-secondary text-2xl font-bold pt-8 pb-3">Active needs</h2>
  <section class="overflow-x-auto">
    <table class="table table-compact w-full">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Location</th>
          <th scope="col">time</th>
          <th scope="col">Wage</th>
          <th scope="col">action</th>
        </tr>
      </thead>

      <% if (activeShifts.length == 0 ) { %>
          <tr>
            <th colspan="5" class="text-center">There is no active shift</th>
          </tr>
      <% } else { %>
          <% activeShifts.forEach((shift, i) => { %>
            <%- include('partials/barista_shifts', {shift: shift, i: i}) %>
        <% }) %>
      <% } %>
    </table>
  </section>

  <!-- Past shifts display section -->
  <h2 class="text-center text-secondary text-2xl font-bold pt-8 pb-3">Fulfilled or Past shifts</h2>
  <section class="overflow-x-auto">
    <table class="table table-compact w-full">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Location</th>
          <th scope="col">time</th>
          <th scope="col">Wage</th>
          <th scope="col">action</th>
        </tr>
      </thead>

      <% if (pastShifts.length == 0 ) { %>
        <tr>
          <th colspan="5" class="text-center">There is no past shift</th>
        </tr>
    <% } else { %>
        <% pastShifts.forEach((shift, i) => { %>
          <%- include('partials/barista_shifts', {shift: shift, i: i}) %>
      <% }) %>
    <% } %>
    </table>
  </section>
</div>
<%- include('partials/footer') -%>