<%- include('partials/header') -%>
<div class="container mx-auto relative md:max-w-4xl">

  <h1 class="text-center text-primary text-2xl md:text-4xl"><strong>Welcome</strong>, <%= cafe.cafeName %></h1>

  <!-- New shift posting section -->
  <section class="collapse text-center pt-6">
    <input type="checkbox" />
    <input type="checkbox" />
    <button class="btn btn-outline btn-primary collapse-title md:text-xl font-medium">
      Click me to add a new shift
    </button>
    <div class="collapse-content">
      <form action="/cafe/postShift" method="POST">
        <div class="form-control">
          <label class="input-group" for="location">
            <span>Location</span>
            <select class="select select-bordered" name="location" id="location" required="required">
              <% for( const location of cafe.place ){ %>
                <option value="<%= location.place_id %>"><%= location.formatted_address.split(' ')[1] %></option>
              <% } %>
            </select>
          </label>
        </div>
        <div class="form-control">
          <label class="input-group" for="wage" >
            <span>Wage</span>
            <input class="input input-bordered" type="number" name="wage" id="wege" placeholder="Please enter a number equal to or greater than the minimal wage" min="15.5" step="0.1" required="required">
          </label>
        </div>
        <div class="form-control">
          <label class="input-group" for="tips">
            <span>Tips</span>
            <select class="select select-bordered" name="tips" id="tips">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </label>
        </div>
        <div class="form-control">
          <label class="input-group" for="date">
            <span>Start time</span>
            <input class="date-input input input-bordered" type="datetime-local" name="start_at" id="start_at" required="required" onfocus="minStartDate()" oninput="minEndDate()">
          </label>
        </div>
        <div class="form-control">
          <label class="input-group" for="end_time">
            <span>End time</span>
            <input class="date-input input input-bordered" type="datetime-local" name="end_at" id="end_at" required="required" onfocus="minEndDate()">
          </label>
        </div>
        <div class="form-control">
          <label class="input-group" for="more">
            <span>More Info</span>
            <input class="input input-bordered" type="text" name="more" id="more" placeholder="Anything else you would like to add about the job?">
          </label>
          </div>
        <input type="text" name="userID" value="<%= user.id %>" hidden>
        <button class="btn btn-primary" type="submit">Post the shift</button>
      </form>
    </div>
  </section>


  <!-- Active shifts display area -->
  <h2 class="text-center text-secondary md:text-2xl font-bold pt-8 pb-3">Current requests</h2>
  <section class="overflow-x-auto py-4">
    <%- include('./partials/cafe_shifts_table', { shifts: activeShifts }) %>
  </section>

  <!-- Past/inactive shifts display area -->
  <h2 class="text-center text-secondary md:text-2xl font-bold pt-7 pb-3">Past requests</h2>
  <section class="overflow-x-auto">
    <%- include('./partials/cafe_shifts_table', { shifts: inactiveShifts}) %>
  </section>


</div>
<%- include('partials/footer') -%>