<%- include('partials/header') -%>
<div class="container mx-auto relative text-3xl md:max-w-4xl">
  <div>
      <div>
          <div>
              <p><strong>Welcome</strong>: <%= cafe.cafeName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/profile_cafe" class="col-3 btn btn-primary">Profile</a>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
      </div>
      <section>
        <!-- Active shifts input section -->
        <form action="/cafe/postShift" method="POST">
          <label for="location">Location:</label>
          <input type="text" name="location" id="location" placeholder="Junction, Leslieville">
          <label for="wage">Hourly Wage:</label>
          <input type="number" name="wage" id="wege" placeholder="$15.5/hour" min="15.5">
          <label for="date">Date and Shift start time:</label>
          <input type="datetime-local" name="date" id="date">
          <label for="end_time">Shift end time:</label>
          <input type="time" name="end_time" id="end_time">
          <label for="more">Specification:</label>
          <input type="text" name="more" id="more" placeholder="Anything else you would like to add about the job?">
          <input type="text" name="userID" value="<%= user.id %>" hidden>
          <button type="submit">Submit</button>
        </form>
        <!-- Active shift display table -->
        <table>
          <caption>Active needs</caption>
          <thead>
            <tr>
              <th scope="col">Location</th>
              <th scope="col">Wage</th>
              <th scope="col">Date</th>
              <th scope="col">time</th>
              <th scope="col">Available baristas</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
            <% let activeShift = 0 %>  
            <% for(let i = 0; i < shift.length; i++) { %>
              <!-- date is saved as string in DB to allow date obj manipulation -->
              <% let shiftDate = new Date(shift[i].date) %>
              <% if (shift[i].activeStatus && shiftDate >= Date.now()) { %>
                <% activeShift++ %>
                <tr data-id="<%= shift[i]._id %>">
                  <th scope="row"><%= shift[i].location %></th>
                  <td><%= shift[i].wage %></td>
                  <!-- Extract date of the shift -->
                  <td><%= shiftDate.toDateString() %></td>
                  <!-- Extract shift start time -->
                  <% let startTime = `${shiftDate.getHours().toString().padStart(2, '0')}:${shiftDate.getMinutes().toString().padStart(2, '0')}` %> 
                  <td><%= `${startTime} - ${shift[i].end_time}` %></td>
                  <!-- loop through available baristas -->
                  <td>
                    <% let availBarista = barista.filter(e => shift[i].availability.includes(e.userName) ) %>
                    <% availBarista.map((b, idx) => { %>
                      <div class="available"><a class="click" href="#popup<%= idx %>"><%= `${b.firstName + " " + b.lastName} - ${b.exp} of experience` %></a></div>
                      <div id="popup<%= idx %>" class="overlay">
                        <div class="popup">
                          <h2>Contact me at</h2>
                          <a class="close" href="#">&times;</a>
                          <a href="mailto:<%= b.email %>"><i class="fa fa-regular fa-envelope fa-lg"></i></a>
                          <% if (b.ig) { %>
                            <a href="https://www.instagram.com/<%= b.ig %>"><i class="fa fa-brands fa-instagram fa-lg"></i></a>
                          <% } %>
                          <% if (b.phone) { %>
                            <a href="tel:+1<%= b.phone %>"><i class="fa fa-phone"></i></a>
                          <% } %>
                        </div>
                      </div>
                    <% }) %>
                  </td>
                  <td>
                    <button type="button" id="editShift">Edit</button>
                    <button type="button" class="inactiveShift">Fulfilled</button>
                    <button type="button" class="deleteShift">Delete</button>
                  </td>
                </tr>
              <% } %>
            <% }  %>
            <% if (shift.length == 0 || activeShift == 0 ){ %>
            <tr>
              <th colspan="6"><%= cafe.cafeName %> has no active shift to display</th>
            </tr>
          
          <% }  %> 
        </table>
        <!-- Past/inactive shifts display table -->
        <table>
          <caption>Past request</caption>
          <thead>
            <tr>
              <th scope="col">Location</th>
              <th scope="col">Wage</th>
              <th scope="col">Date</th>
              <th scope="col">time</th>
              <th scope="col">Available baristas</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <% let pastShift = 0 %>
            <% for(let i = 0; i < shift.length; i++) { %>
              
              <% let shiftDate = new Date(shift[i].date) %>
              <% if (!shift[i].activeStatus || shiftDate < Date.now()) { %>
                <% pastShift++ %>
                <tr data-id="<%= shift[i]._id %>">
                  <th scope="row"><%= shift[i].location %></th>
                  <td><%= shift[i].wage %></td>
                  <!-- Extract date of the shift -->
                  <td><%= shiftDate.toDateString() %></td>
                  <!-- Extract shift start time -->
                  <% let startTime = `${shiftDate.getHours().toString().padStart(2, '0')}:${shiftDate.getMinutes().toString().padStart(2, '0')}` %> 
                  <td><%= `${startTime} - ${shift[i].end_time}` %></td>
                  <td>
                    <% let availBarista = barista.filter(e => shift[i].availability.includes(e.userName) ) %>
                    <% availBarista.map((b, idx) => { %>
                      <div class="available"><a class="click" href="#popup<%= idx %>"><%= `${b.firstName + " " + b.lastName || b.userName} - ${b.exp} of experience` %></a></div>
                      <div id="popup<%= idx %>" class="overlay">
                        <div class="popup">
                          <h2>Contact me at</h2>
                          <a class="close" href="#">&times;</a>
                          <a href="mailto:<%= b.email %>"><i class="fa fa-regular fa-envelope fa-lg"></i></a>
                          <% if (b.ig) { %>
                            <a href="https://www.instagram.com/<%= b.ig %>"><i class="fa fa-brands fa-instagram fa-lg"></i></a>
                          <% } %>
                          <% if (b.phone) { %>
                            <a href="tel:+1<%= b.phone %>"><i class="fa fa-phone"></i></a>
                          <% } %>
                        </div>
                      </div>
                    <% }) %>
                  </td>
                  <td>
                    <!-- <button type="button" id="activeStatusTrue">Re-active</button> -->
                    <button type="button" class="deleteShift">Delete</button>
                  </td>
                </tr>
              <% } %>
            <% }  %>
            <% if (shift.length == 0 || pastShift == 0 ){ %>
            <tr>
              <th colspan="6"><%= cafe.cafeName %> has no past shift to display</th>
            </tr>
          
          <% }  %> 
        </table>
      </section>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>