<%- include('partials/header') -%>
<div class="container mx-auto relative md:max-w-4xl">

  <h1 class="text-center text-primary text-2xl md:text-4xl"><strong>Welcome</strong>, <%= cafe.cafeName %></h1>

  <!-- New shift posting section -->
  <section class="collapse text-center pt-6">
    <input type="checkbox" />
    <button class="btn btn-outline btn-primary collapse-title md:text-xl font-medium">
      Click me to add a new shift
    </button>
    <div class="collapse-content">
      <form action="/cafe/postShift" method="POST">
        <div class="form-control">
          <label class="input-group" for="location">
            <span>Location</span>
            <select class="select select-bordered" name="location" id="location" required="required">
              <% for( const location of cafe.place ){ %>
                <option value="<%= location.place_id %>"><%= location.formatted_address.split(' ')[1] %></option>
              <% } %>
            </select>
          </label>
        </div>
        <div class="form-control">
          <label class="input-group" for="wage" >
            <span>Wage</span>
            <input class="input input-bordered" type="number" name="wage" id="wege" placeholder="Please enter a number equal to or greater than the minimal wage" min="15.5" step="0.1" required="required">
          </label>
        </div>
        <div class="form-control">
          <label class="input-group" for="tips">
            <span>Tips</span>
            <select class="select select-bordered" name="tips" id="tips">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </label>
        </div>
        <div class="form-control">
          <label class="input-group" for="date">
            <span>Start time</span>
            <input class="date-input input input-bordered" type="datetime-local" name="start_at" id="start_at" required="required" onfocus="minStartDate()">
          </label>
        </div>
        <div class="form-control">
          <label class="input-group" for="end_time">
            <span>End time</span>
            <input class="date-input input input-bordered" type="datetime-local" name="end_at" id="end_at" required="required" onfocus="minEndDate()">
          </label>
        </div>
        <div class="form-control">
          <label class="input-group" for="more">
            <span>More Info</span>
            <input class="input input-bordered" type="text" name="more" id="more" placeholder="Anything else you would like to add about the job?">
          </label>
          </div>
        <input type="text" name="userID" value="<%= user.id %>" hidden>
        <button class="btn btn-primary" type="submit">Post the shift</button>
      </form>
    </div>
  </section>


  <!-- Active shifts display area -->
  <h2 class="text-center text-secondary md:text-2xl font-bold pt-8 pb-3">Current requests</h2>
  <section class="overflow-x-auto py-4">
    <table class="table table-compact w-full">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Location</th>
          <th scope="col">Wage</th>
          <th scope="col">time</th>
          <th scope="col">Available baristas</th>
          <th scope="col">Status</th>
        </tr>
      </thead>

        <% for(let i = 0; i < activeShift.length; i++) { %>

            <tr data-id="<%= activeShift[i]._id %>">

              <th scope="row"><%= new Date(activeShift[i].date).toDateString() %></th>
              <td><%= activeShift[i].location.formatted_address.split(' ')[1] %></td>
              <td><%= activeShift[i].wage %> <%= activeShift[i].tips ? '+tips' : `(no tips)` %></td>
              <td><%= `${activeShift[i].start_time} - ${activeShift[i].end_time}` %></td>

              <!-- Show all available baristas per shift-->
              <td>
                <% let availableBarista = barista.filter(person => activeShift[i].availability.includes(person.userName) ) %>

                <% availableBarista.map(oneBarista => { %>
                    <div class="tooltip" data-tip="<%= `${oneBarista.firstName} ${oneBarista.lastName[0]}` %>">
                      <label for="pick<%= oneBarista.userName %>" class="btn btn-sm btn-outline btn-secondary">
                        <% if (!oneBarista.firstName) { %>
                          <%= oneBarista.userName %>
                        <% }else{ %>
                          <%= `${oneBarista.firstName[0]}${oneBarista.lastName[0]}`%>
                        <% } %>
                      </label>
                    </div>
                    <!-- Popup box to display barista info -->
                    <input type="checkbox" id="pick<%= oneBarista.userName %>" class="modal-toggle" />
                    <div class="modal">
                      <div class="modal-box">
                        <div class="flex flex-row justify-between gap-2 flex-wrap-reverse">
                          <div class="pt-6">
                            <h3 class="md:text-3xl font-bold"><%= `${oneBarista.firstName} ${oneBarista.lastName}` %></h3>
                            <span class="block py-1 md:text-lg">Level of experience: <%= oneBarista.exp ? oneBarista.exp : 'unknown' %></span>
                            <% if(oneBarista.more){ %>
                              <span class="block md:text-lg">About me: <%= oneBarista.more %></span>
                            <% } %>
                          </div>
                          <div><%- oneBarista.photo %></div>
                        </div>
                        <div class="py-6">
                          <% if (oneBarista.ig) { %>
                            <a class="btn btn-secondary btn-outline px-2" href="https://www.instagram.com/<%= oneBarista.ig %>" target="_blank"><i class="fa fa-brands fa-instagram fa-2xl"></i></a>
                          <% } %>
                          <% if (oneBarista.phone) { %>
                            <a class="btn btn-secondary btn-outline px-2" href="tel:+1<%= oneBarista.phone %>"><i class="fa-solid fa-phone fa-2xl"></i></a>
                          <% } %>
                        </div>
                        <div class="modal-action">
                          <label for="pick<%= oneBarista.userName %>" class="btn">Close</label>
                        </div>
                      </div>
                    </div>
                <% }) %>
              </td>
              <td>
                <!-- <button type="button" id="editShift">Edit</button> -->
                <button type="button" class="inactiveShift btn btn-secondary tooltip" data-tip="Fulfilled"><i class="fa-solid fa-check"></i></button>
                <button type="button" class="deleteShift btn btn-secondary tooltip" data-tip="Delete"><i class="fa-regular fa-trash-can"></i></button>
              </td>
            </tr>
          <% } %>

        <% if (activeShift.length == 0){ %>
        <tr>
          <th colspan="6" class="text-center"><%= cafe.cafeName %> has no active shift to display</th>
        </tr>
      <% }  %>
    </table>
  </section>

  <!-- Past/inactive shifts display area -->
  <h2 class="text-center text-secondary md:text-2xl font-bold pt-7 pb-3">Past requests</h2>
  <section class="overflow-x-auto">
    <table class="table table-compact w-full">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Location</th>
          <th scope="col">Wage</th>
          <th scope="col">time</th>
          <th scope="col">Available baristas</th>
          <th scope="col">Status</th>
        </tr>
      </thead>

        <% for(let i = 0; i < inactiveShift.length; i++) { %>

            <tr data-id="<%= inactiveShift[i]._id %>">
              <th scope="row"><%= new Date(inactiveShift[i].date).toDateString() %></th>
              <td><%= inactiveShift[i].location.formatted_address.split(' ')[1] %></td>
              <td><%= inactiveShift[i].wage %> <%= inactiveShift[i].tips ? '+tips' : `(no tips)` %></td>
              <td><%= `${inactiveShift[i].start_time} - ${inactiveShift[i].end_time}` %></td>

              <!-- Show all available baristas per shift-->
              <td>
                <% let availableBarista = barista.filter(person => inactiveShift[i].availability.includes(person.userName) ) %>

                <% availableBarista.map(oneBarista => { %>
                  <div class="tooltip" data-tip="<%= `${oneBarista.firstName} ${oneBarista.lastName[0]}` %>">
                    <label for="pick<%= oneBarista.userName %>" class="btn btn-sm btn-outline btn-secondary">
                      <% if (!oneBarista.firstName) { %>
                        <%= oneBarista.userName %>
                      <% }else{ %>
                        <%= `${oneBarista.firstName[0]}${oneBarista.lastName[0]}`%>
                      <% } %>
                    </label>
                  </div>

                  <!-- Popup box to display barista info -->
                  <input type="checkbox" id="pick<%= oneBarista.userName %>" class="modal-toggle" />
                  <div class="modal">
                    <div class="modal-box">
                      <h3 class="text-xl font-bold"><%= `${oneBarista.firstName} ${oneBarista.lastName}` %></span></h2>
                      <span class="block py-1">Level of experience: <%= oneBarista.exp ? oneBarista.exp : 'unknown' %></span>
                      <% if(oneBarista.more){ %>
                        <span class="block">About me: <%= oneBarista.more %></span>
                      <% } %>
                      <p class="py-6">
                        <% if (oneBarista.ig) { %>
                          <a class="btn btn-secondary btn-outline px-2" href="https://www.instagram.com/<%= oneBarista.ig %>" target="_blank"><i class="fa fa-brands fa-instagram fa-2xl"></i></a>
                        <% } %>
                        <% if (oneBarista.phone) { %>
                          <a class="btn btn-secondary btn-outline px-2" href="tel:+1<%= oneBarista.phone %>"><i class="fa-solid fa-phone fa-2xl"></i></a>
                        <% } %>
                      </p>

                      <div class="modal-action">
                        <label for="pick<%= oneBarista.userName %>" class="btn">Close</label>
                      </div>
                    </div>
                  </div>
                <% }) %>
              </td>
              <td>

                <button type="button" class="deleteShift tooltip btn btn-secondary" data-tip="Delete"><i class="fa-regular fa-trash-can"></i></button>

              </td>
            </tr>
          <% } %>

        <% if (inactiveShift.length == 0){ %>
        <tr>
          <th colspan="6" class="text-center"><%= cafe.cafeName %> has no past shift to display</th>
        </tr>

      <% } %>
    </table>
  </section>


</div>
<%- include('partials/footer') -%>