<%- include('partials/header') -%>
<div class="container mx-auto relative text-3xl md:max-w-6xl">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>Welcome!</strong> <%= user.userName %></p>
          </div>
      </div>
      <!-- Search area -->

      <!-- Active shifts display section -->
      <section>
        <table class="table-auto">
          <caption>Active needs</caption>
          <thead>
            <tr>
              <th scope="col">Location</th>
              <th scope="col">Wage</th>
              <th scope="col">Date</th>
              <th scope="col">time</th>
              <th scope="col">action</th>
            </tr>
          </thead>
          <% let activeShift = 0 %>  
          <% for(let i = 0; i < shift.length; i++) { %>
            <!-- date is saved as string in DB to allow date obj manipulation -->
            <% let shiftDate = new Date(shift[i].date) %>
            <% if (shift[i].activeStatus && shiftDate >= Date.now()) { %>
              <% activeShift++ %>
              <tr data-id="<%= shift[i]._id %>">
                <th scope="row"><%= shift[i].location %></th>
                <td><%= shift[i].wage %></td>
                <!-- Extract date of the shift -->
                <td><%= shiftDate.toDateString() %></td>
                <!-- Extract shift start time -->
                <% let startTime = `${shiftDate.getHours().toString().padStart(2, '0')}:${shiftDate.getMinutes().toString().padStart(2, '0')}` %> 
                <td><%= `${startTime} - ${shift[i].end_time}` %></td>
                <td><% if (shift[i].availability.includes(user.userName)){ %>
                  <button type="button" class="not-available">I'm no longer available</button>
                  <% } else { %>
                  <button type="button" class="available">I'm available</button>
                  <% } %>
                </td>
              </tr>
            <% } %>
          <% }  %>
          <% if (shift.length == 0 || activeShift == 0 ){ %>
          <tr>
            <th colspan="4">There is no active shift to display</th>
          </tr>        
        <% }  %>           
        </table>
      </section>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>