<%- include('partials/header') -%>
<div class="container mx-auto relative mb-28 md:max-w-4xl">

  <h1 class="text-3xl text-center"><strong>Welcome</strong>, <%= user.userName %></h1>

  <!-- Search area -->

  <!-- Active shifts display section -->
  <section class="overflow-x-auto">
    <table class="table w-full">
      <caption class="py-3 text-secondary text-xl font-bold">Active needs</caption>
      <thead>
        <tr>
          <th scope="col">Location</th>
          <th scope="col">Wage</th>
          <th scope="col">Date</th>
          <th scope="col">time</th>
          <th scope="col">action</th>
        </tr>
      </thead>
      <% let activeShift = 0 %>  
      <% for(let i = 0; i < shift.length; i++) { %>
        <% let shiftDateAndTime = new Date(shift[i].date) %>
        <% if (shift[i].activeStatus && shiftDateAndTime >= Date.now()) { %>
          <% activeShift++ %>

          <tr data-id="<%= shift[i]._id %>">
            <th scope="row"><%= shift[i].cafeName %></th>
            <td><%= shift[i].wage %></td>
            <% let shiftDate = shiftDateAndTime.toDateString() %>
            <td><%= shiftDate %></td>
            <!-- Extract shift start time as hh:mm format -->
            <% let startTime = `${shiftDateAndTime.getHours().toString().padStart(2, '0')}:${shiftDateAndTime.getMinutes().toString().padStart(2, '0')}` %> 
            <td><%= `${startTime} - ${shift[i].end_time}` %></td>
            <td><% if (shift[i].availability.includes(user.userName)){ %>
              <button type="button" class="not-available btn btn-secondary tooltip" data-tip="not available"><i class="fa-regular fa-circle-xmark"></i></button>
              <% } else { %>
              <button type="button" class="available btn btn-secondary tooltip" data-tip="Put myself available"><i class="fa-regular fa-hand"></i></button>
              <% } %>
            </td>
          </tr>
        <% } %>
      <% }  %>
      <% if (shift.length == 0 || activeShift == 0 ){ %>
      <tr>
        <th colspan="4">There is no shift needs to be picked up</th>
      </tr>        
    <% }  %>           
    </table>
  </section>
</div>
<%- include('partials/footer') -%>