<%- include('partials/header') -%>
<div>
  <div>
      <div>
          <div>
              <p><strong>Welcome</strong>: <%= cafe.shopName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/profile_cafe" class="col-3 btn btn-primary">Profile</a>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
      </div>
      <section>
        <form action="/cafe/postShift" method="POST">
          <label for="location">Location:</label>
          <input type="text" name="location" id="location" placeholder="Junction, Leslieville">
          <label for="wage">Hourly Wage:</label>
          <input type="number" name="wage" id="wege" placeholder="$15.5/hour" min="15.5">
          <label for="date">Date:</label>
          <input type="date" name="date" id="date">
          <label for="from_time">From:</label>
          <input type="time" name="from_time" id="from_time">
          <label for="end_time">To</label>
          <input type="time" name="end_time" id="end_time">
          <label for="more">Specification</label>
          <input type="text" name="more" id="more" placeholder="Anything else you would like to add about the job?">
          <input type="text" name="userID" value="<%= user.id %>" hidden>
          <button type="submit">Submit</button>
        </form>
     
        <table>
          <caption>Active needs</caption>
          <thead>
            <tr>
              <th scope="col">Location</th>
              <th scope="col">Wage</th>
              <th scope="col">Date</th>
              <th scope="col">time</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
            <% let activeShift = 0 %>
      

            <% for(let i = 0; i < shift.length; i++) { %>
              <!-- 1.44e+8 == 40 hours in milliseconds, due to date.now() get ms in UTC, so 4h+ from GMT-4 -->
              <% if (shift[i].activeStatus && shift[i].date >= (Date.now() - 1.44e+8) ) { %>
                <% activeShift++ %>
                <tr data-id="<%= shift[i]._id %>">
                  <th scope="row"><%= shift[i].location %></th>
                  <td><%= shift[i].wage %></td>
                  <td>
                  <!-- Set timeZone to UTC to prevent date short by 1 -->
                  <% let rightDate = new Date(+shift[i].date).toLocaleString('en-US', {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', timeZone: 'UTC'} ) %>
                  <%= rightDate %> 
                  </td>
                  <td><%= `${shift[i].from_time} - ${shift[i].end_time}` %></td>
                  <td>
                    <button type="button" id="editShift">Edit</button>
                    <button type="button" id="activeStatusFalse">Fulfilled</button>
                    <button type="button" id="deleteShift">Delete</button>
                  </td>
                </tr>
              <% } %>
            <% }  %>
            <% if (shift.length == 0 || activeShift == 0 ){ %>
            <tr>
              <th colspan="5"><%= cafe.shopName %> has no active shift to display</th>
            </tr>
          
          <% }  %> 
          <!-- <tr>
            <th scope="row">Cafe</th>
            <td>Wage data</td>
            <td>Date data</td>
            <td>Hour data</td>
            <td>
              <button type="button" id="editShift">Edit</button>
                  <button type="button" id="activeStatusFalse">Fulfilled</button>
                  <button type="button" id="deleteShift">Delete</button>
            </td>
          </tr> -->
        </table>
        <table>
          <caption>Past request</caption>
          <thead>
            <tr>
              <th scope="col">Location</th>
              <th scope="col">Wage</th>
              <th scope="col">Date</th>
              <th scope="col">time</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <% let pastShift = 0 %>
      

            <% for(let i = 0; i < shift.length; i++) { %>
              <!-- 1.44e+8 == 40 hours in milliseconds, due to date.now() get ms in UTC, so 4h+ from GMT-4 -->
              <% if (!shift[i].activeStatus || shift[i].date < (Date.now() - 1.44e+8) ) { %>
                <% pastShift++ %>
                <tr data-id="<%= shift[i]._id %>">
                  <th scope="row"><%= shift[i].location %></th>
                  <td><%= shift[i].wage %></td>
                  <td>
                  <!-- Set timeZone to UTC to prevent date short by 1 -->
                  <% let rightDate = new Date(+shift[i].date).toLocaleString('en-US', {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', timeZone: 'UTC'} ) %>
                  <%= rightDate %> 
                  </td>
                  <td><%= `${shift[i].from_time} - ${shift[i].end_time}` %></td>
                  <td>
                    <button type="button" id="editShift">Edit</button>
                    <button type="button" id="activeStatusFalse">Fulfilled</button>
                    <button type="button" id="deleteShift">Delete</button>
                  </td>
                </tr>
              <% } %>
            <% }  %>
            <% if (shift.length == 0 || pastShift == 0 ){ %>
            <tr>
              <th colspan="5"><%= cafe.shopName %> has no past shift to display</th>
            </tr>
          
          <% }  %> 
        </table>
      </section>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>