<%- include('partials/header') -%>
<div class="container mx-auto relative md:max-w-4xl">

  <h1 class="text-center text-primary text-2xl md:text-4xl">Hey <strong><%= user.userName %></strong>, ready to make coffee and get paid?</h1>

  <!-- Search area -->

  <!-- Active shifts display section -->
  <h2 class="text-center text-secondary text-2xl font-bold pt-8 pb-3">Active needs</h2>
  <section class="overflow-x-auto">
    <%- include('partials/barista_shifts_table', { shifts: activeShifts, noDataLabel: 'active' }) %>
  </section>

  <!-- Past shifts display section -->
  <h2 class="text-center text-secondary text-2xl font-bold pt-8 pb-3">Fulfilled or Past shifts</h2>
  <section class="overflow-x-auto">
    <%- include('partials/barista_shifts_table', { shifts: pastShifts, noDataLabel: 'past' }) %>
  </section>
</div>
<%- include('partials/footer') -%>