<%- include('partials/header') -%>
<section class="container mx-auto relative md:text-3xl md:max-w-4xl">
  <div class="flex flex-row pb-5">
    <div class="tooltip flex-none" data-tip="back to dashboard">
      <a class="left-2 btn" href="/dashboard"><i class="fa-solid fa-arrow-left"></i></a>
    </div>
    <h1 class="flex-1 text-center text-2xl md:text-4xl">
      <%= cafe.cafeName ? cafe.cafeName : user.userName.replace( /\w/, c => c.toUpperCase() ) %>'s profile
    </h1>
  </div>
  <div class="py-2">
    <% if (locals.messages.errors) { %>
      <% messages.errors.forEach( el => { %>
        <div class="alert alert-error"><%= el.msg %></div>
      <% }) %>
    <% } else if (locals.messages.info) { %>
      <% messages.info.forEach( el => { %>
        <div class="alert alert-info"><%= el.msg %></div>
      <% }) %>
    <% } else if (locals.messages.success) { %>
      <% messages.success.forEach( el => { %>
        <div class="alert alert-success"><%= el.msg %></div>
      <% }) %>
    <% } %>
  </div>
  <!-- form submission through main.js -->
  <form action="cafe/profile_cafe?_method=PUT" 
        method="POST">
    <div class="form-control">
      <label class="label" for="cafeName">Company name</label>
      <input class="input input-bordered" type="text" id="cafeName" name="cafeName" value="<%= cafe.cafeName %>">
    </div>
    <div class="form-control">
        <label class="label" for="firstName">Your First Name</label>
        <input class="input input-bordered" type="text" id="firstName" name="firstName" value="<%= cafe.firstName %>">
    </div>
    <div class="form-control">
      <label class="label" for="lastName">Your Last Name</label>
      <input class="input input-bordered" type="text" id="lastName" name="lastName" value="<%= cafe.lastName %>">
    </div>
    <div class="form-control">
      <label class="label" for="phone">Phone Number</label>
      <input class="input input-bordered" type="tel" id="phone" name="phone" value="<%= cafe.phone || null %>">
    </div>
    <div class="form-control" id="addressArea">
      <label for="address" class="label">Address</label>
      <% cafe.place.map( eachPlace => { %>

        <input type="text" class="input input-bordered" name="address" value="<%= eachPlace.formatted_address || null %>" disabled>
      <% }) %>
      
    </div>
    <div class="collapse">
      <input type="checkbox" /> 
      <div class="collapse-title text-xl font-medium">
        Click me to add address
      </div>
      <div class="collapse-content">
        <div class="form-control">

          <input class="input input-bordered" type="text" id="autocomplete" placeholder="Enter your coffee shop name">
          <span id="placeDetails"></span>
          
        </div>
        <span class="alert shadow-lg text-lg my-2" id="addressAlert"></span>
        <button class="btn btn-secondary" type="button" onclick="updateAddress()">Save Address</button>
        
      </div>
    </div>
    <div class="form-control">
      <label class="label" for="ig">Cafe's Instagram</label>
      <label class="input-group">
        <span class="label-text">instagram.com/</span>
        <input class="input input-bordered" type="text" id="ig" name="ig" placeholder="Cafe's instagram id" value="<%= cafe.ig || null %>">
      </label>
    </div>
    <div class="form-control">
      <label class="label" for="more">About Us</label>
      <input class="input input-bordered" type="text" id="more" name="more" value="<%= cafe.more || null %>"></input>
    </div>

    <input type="text" id="userID" name="userID" value="<%= user.id %>" hidden>
    
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</section>
<!-- CONFIG.EJS FILE INCLUDES GOOGLE MAP PLACE API SCRIPT TAG  -->
<%- include('partials/config') -%>
<%- include('partials/footer') -%>