<%- include('partials/header') -%>
<script src="https://js.hcaptcha.com/1/api.js" async defer></script>
    <main class="container mx-auto relative md:text-3xl md:max-w-2xl">
      <section>
        <h1 class="text-center text-2xl md:text-4xl">Sign up as café</h1>
        <div class="py-2">
          <% if (locals.messages.errors) { %>
            <% messages.errors.forEach( el => { %>
              <div class="alert alert-error"><%= el.msg %></div>
            <% }) %>
          <% } else if (locals.messages.info) { %>
            <% messages.info.forEach( el => { %>
              <div class="alert alert-info"><%= el.msg %></div>
            <% }) %>
          <% } else if (locals.messages.success) { %>
            <% messages.success.forEach( el => { %>
              <div class="alert alert-success"><%= el.msg %></div>
            <% }) %>
          <% } %>
        </div>
        <form action="/signup_cafe" method="POST">
            <div class="form-control">
              <label for="userName" class="label">User Name</label>
              <input type="text" class="input input-bordered" id="userName" name="userName" required>
            </div>

            <div class="form-control">
              <label for="exampleInputEmail1" class="">Email address</label>
              <input type="email" class="input input-bordered" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" required>
              <div id="emailHelp" class="label-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="form-control">
              <label for="cafeName" class="label">Name of your organization</label>
              <input type="text" class="input input-bordered" name="cafeName" id="cafeName">
            </div>
            <div class="form-control">
              <label for="password" class="label">Password</label>
              <input type="password" class="input input-bordered" id="password" name="password" required>
            </div>
            <div class="form-control">
              <label for="confirmPassword" class="label">Confirm Password</label>
              <input type="password" class="input input-bordered" id="confirmPassword" name="confirmPassword" required>
            </div>
            <div class="form-control">
              <h3 class="label label-lg">Terms and Conditions</h3>
              <div id="disclaimer" class="max-h-40 mb-2 p-2 w-full overflow-y-auto border-solid border-2 border-neutral-focus rounded-md md:text-sm">
                Barista Wanted offers only a platform to enable cafes to post their vacant shift and baristas to put themself available. We do not assume any responsibility for the legitimacy of jobs posted or the qualifications of baristas. We will not take any monetary goods from our users. Hence, it is solely the users’ responsibility to verify the validity of other users, contact other users through available means, negotiate the salary and be paid according to your local labour law. In case of abuse or impersonation, we reserve the right to suspend or prohibit the user from using our site.
                <br />
                Our site contains links to third-party websites or services that we do not own or control. We are not responsible for the content, policies or practices of any third-party website or service linked to our site.
              </div>
              <div class="w-fit">
                <label class="label cursor-pointer" for="disclaimer">
                  <input type="checkbox" name="disclaimer" class="checkbox checkbox-accent" required>
                  <span class="label-text pl-3">I ACCEPT the above terms and conditions</span>
                </label>
              </div>
            </div>

            <!-- Set mendatory userType as cafe -->
            <input type="text" id="userType" name="userType" value="cafe" hidden>
            <!-- hCaptcha Widget -->
            <div class="h-captcha" data-sitekey="ae615cc7-ebb1-4154-a1a2-f0b2ad4ca51f"></div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </section>
    </main>

<%- include('partials/footer') -%>